Hopscotch_v2.0/Hopscotch/.settings
Hopscotch_v2.0/Hopscotch/frameworks/cocos2d-x
Hopscotch_v2.0/Hopscotch/frameworks/runtime-src/proj.win32
Hopscotch_v2.0/Hopscotch/runtime
Hopscotch_v2.0/UI/HopscotchUI/Backup